
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   
   <script src="https://kit.fontawesome.com/c21474a7b2.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="{% static 'csss/styles.css' %}">
    <title>{% block title %}{% endblock  %}</title>
</head>
<body>
    <div class="wrapper">
        <div class="top_navbar">
          <div class="hamburger">
             <div class="one"></div>
             <div class="two"></div>
             <div class="three"></div>
          </div>
          <div class="top_menu">
            <div class="logo">logo</div>
            <ul>
              <li><a href="#">
                <i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i></a></li>
              <li><a href="#">
                <i class="fas fa-bell"></i>
                </a></li>
              <li><a href="#">
                <i class="fas fa-user"></i>
                </a></li>
            </ul>
          </div>
        </div>
        
        <div class="sidebar">
            <ul>
              <li><a href="">
                <span class="icon"><i class="fa-solid fa-house" ></i></span>
                <span class="title">Home</span></a></li>
              
          </ul>

        </div>
        
        <div class="main_container">
         
            {% block content %}  {% endblock %}

            
        
          
        </div>
        
      </div>


     
    
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>